{% extends 'base.html.twig' %}

{% block title %}Liste de Factures
{% endblock %}

{% block body %}
	<div class="container mt-5">

		<h1 class="mb-3">Liste de Factures</h1>
		<table class="table table-hover">
			<thead>
				<tr class="table-dark">
					<th>Id</th>
					<th>Numero</th>
					<th>Title</th>
					<th>Montant</th>
					<th>Date</th>
					<th>Client</th>
					<th>Utilisateur</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in invoices %}
					<tr class="">
						<td>
							{{invoice.id}}
						</td>
						<td>
							{{invoice.chrono}}
						</td>
						<td>{{invoice.title}}
						</td>
						<td>
							{{invoice.amount / 100}}</td>
						<td>
							{{invoice.createdAt | date("m/d/Y")}}</td>
						<td>{{invoice.customer.fullName}}
						</td>
						<td>
							{{invoice.customer.user.fullName}}
						</td>
						<td>

							<a href="{{ path('invoices_edit', {id: invoice.id}) }}" class="link">
								<i class="fas fa-edit"></i>
							</a>


							<a href="{{ path('invoices_delete', {id: invoice.id}) }}" class="link">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>{% endblock %}
